name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      run: docker login -u ghalibbajwa -p porsche911

    - name: Build and push Docker image
      run: |
        docker build . -tag ghalibbajwa/your-image-name:$(date +%s) .
        docker push your-docker-username/your-image-name:$(date +%s)

