name: Update Rancher Deployment Image

on:
  push:
    branches:
      - main  # Change this to your branch name

jobs:
  update-deployment-image:
    runs-on: ubuntu-latest
    steps:
      - name: Update Rancher Deployment Image
        env:
          RANCHER_API_URL: https://rancher.slogr.io/v3
          ACCESS_KEY: token-7gdnl
          SECRET_KEY: 5cvrlrfxjl6txq66pr8w4vqnbb7zhj84l4dlqvsvd2zdxlpk5lg42j
          DEPLOYMENT_ID: saas-api  # Replace with your deployment ID
          CONTAINER_NAME: ghalibbajwa/slogr-controller-laravel:latest  # Replace with your container name
          NEW_IMAGE: 'your-new-image:tag'  # Replace with your new image
        run: |
          curl -u "${ACCESS_KEY}:${SECRET_KEY}" -X PUT -H "Content-Type: application/json" \
            -d '{"containers": {"'"${CONTAINER_NAME}"'": {"image": "'"${NEW_IMAGE}"'"}}}' \
            "${RANCHER_API_URL}/v3/project/deployments/${DEPLOYMENT_ID}/revisions/current"
